<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's add some books</title>
</head>
<body>
  
  <div id="app">
    {{ header }}
    <ul>
      <li v-for="book in books">{{ book.title | capitalize  | addPrefix}}</li>
    </ul>

    <input type="text" name="newBook" id="newBook" v-model="newBook" @keyup.enter="addBook">
    <button v-on:click="addBook">Add</button>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="main.js"></script>
</html>